* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

:root {
  --color-primario: #3498db;
  --color-secundario: #1d1281;
  --color-fondo: #c7dbe0;
  --color-tarjeta: #996e93;
  --espaciado: 15px;
  --radio-borde: 8px;
  --salto-linea: 15px;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-fondo);
  gap: var(--espaciado);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primario);
  color: rgb(4, 180, 4);
  padding: var(--espaciado);
}


.contenido {
  display: flex;
  flex: 1;
  gap: var(--espaciado);
  padding: var(--espaciado);
}

.tarjeta {
  background-color: var(--color-tarjeta);
  padding: var(--espaciado);
  border-radius: var(--radio-borde);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 5px 10px;
}

.encabezado-tarjeta {
  font-size: 20px;
  background-color: #1c0da0;
  margin-top: 0;
  color: white;
  text-align: center;
  padding: var(--espaciado);
}

.cuer-tarjeta {
  font-size: 16px;
  color: white;
  text-align: justify;
  padding: 10px;
  flex: 1;
}

.pie-tarjeta {
  background-color: rgb(103, 192, 91);
  color: rgb(80, 3, 3);
  text-align: center;
  padding: var(--espaciado);
  margin-top: auto;
}

.footer {
  background-color: var(--color-secundario);
  color: rgb(211, 8, 69);
  text-align: center;
  padding: var(--espaciado);
}